ul li {
	text-decoration: none;
	list-style-type: none;
}
.logo {
	height: 50px;
	width: 50px;
}
.app-wrapper {
	display: grid;
	grid-template-areas:
		'h h h'
		'n m m';
	grid-template-rows: 60px 1fr;
	grid-template-columns: 2fr 10fr;
	grid-gap: 10px;
}
.app-header {
	grid-area: h;
	background-color: dimgrey;
}
.app-nav {
	grid-area: n;
	background-color: forestgreen;
}
.app-main {
	grid-area: m;
	background-color: brown;
}
